body{
    background:lavenderblush;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.5;
    margin-left: 30x;
    max-width: 800px;
    padding: 20x;
    border: 4px cyan ;
}

h1{
    color:darkgoldenrod
}

blockquote{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border: 5px;
  border-left: 5px solid goldenrod;
  border-right: 5px solid goldenrod;
  border-top-left-radius: 10px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 10px;
  color:cornflowerblue;
  background-color:cyan;
  padding: 30px;
  margin-left: 20px; 
  margin-right: 20px; 
  font-style: initial;
}

blockquote{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border: 5px;
  border-left: 5px solid goldenrod;
  border-right: 5px solid goldenrod;
  border-top-left-radius: 10px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 10px;
  color: #fcf1f5;
  background-color: rgb(110,150,230);
  padding: 30px;
  margin-left: 20px; 
  margin-right: 20px; 
  font-style: initial;
}