body{
    background:lavenderblush;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.5;
    margin-left: 30x;
    max-width: 800px;
    padding: 20x;
    border: 4px cyan ;
}

h1{
    color:darkgoldenrod
}

h1.vip{
    color:cyan;
}